// Colors
$rose: #FF1493;
$darkgrey: #272727;

//Fonts
$sans: 'Josefin Sans', sans-serif;
$cursive: 'Courgette', cursive;

//-------------Mixins-----------------

// Transition
@mixin transition($var...) {
	-webkit-transition: $var;
	-moz-transition: $var;
	-ms-transition: $var;
	-o-transition: $var; 
	transition: $var;
}

//Border-radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

// Transform
@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}